<html>

<head>
    <title>Computer Networks</title>

    <style>
        table,
        tr,
        td {
            border: 2px solid black;
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <br>
    <h3><a href="/"> Back</a></h3>
    <h3>Details:</h3>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>3</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Title</td>
                <td>Computer Networks</td>
            </tr>
            <tr>
                <td>Edition</td>
                <td>5th</td>
            </tr>
            <tr>
                <td>Copyright</td>
                <td>2010</td>
            </tr>
            <tr>
                <td>Language</td>
                <td>ENGLISH</td>
            </tr>
            <tr>
                <td>Pages</td>
                <td>960</td>
            </tr>
            <tr>
                <td>Author</td>
                <td>Andrew S. Tanenbaum</td>
            </tr>
            <tr>
                <td>Publisher</td>
                <td>Pearson Education</td>
            </tr>
        </tbody>
    </table>
    <br>
</body>

</html>