<html>

<head>
    <Title>Operating System Concepts</Title>

    <style>
        table,
        tr,
        td {
            border: 2px solid black;
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <br>
    <h3><a href="/"> Back</a></h3>
    <h3>Details:</h3>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>1</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Title</td>
                <td>Operating System Concepts</td>
            </tr>
            <tr>
                <td>Edition</td>
                <td>9th</td>
            </tr>
            <tr>
                <td>Copyright</td>
                <td>2012</td>
            </tr>
            <tr>
                <td>Language</td>
                <td>ENGLISH</td>
            </tr>
            <tr>
                <td>Pages</td>
                <td>976</td>
            </tr>
            <tr>
                <td>Author</td>
                <td>Abraham Silberschatz</td>
            </tr>
            <tr>
                <td>Publisher</td>
                <td>John Wiley &amp; Sons</td>
            </tr>
        </tbody>
    </table>
</body>

</html>