<html>

<head>
    <title>Database System Concepts</title>

    <style>
        table,
        tr,
        td {
            border: 2px solid black;
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <br>
    <h3><a href="/"> Back</a></h3>
    <h3>Details:</h3>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>2</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Title</td>
                <td>Database System Concepts</td>
            </tr>
            <tr>
                <td>Edition</td>
                <td>6th</td>
            </tr>
            <tr>
                <td>Copyright</td>
                <td>2010</td>
            </tr>
            <tr>
                <td>Language</td>
                <td>ENGLISH</td>
            </tr>
            <tr>
                <td>Pages</td>
                <td>1376</td>
            </tr>
            <tr>
                <td>Author</td>
                <td>Abraham Silberschatz</td>
            </tr>
            <tr>
                <td>Publisher</td>
                <td>John Wiley &amp; Sons</td>
            </tr>
        </tbody>
    </table>
    <br>
</body>

</html>